PYTHON_WEB/HomeWork_10/django_hw/
PYTHON_WEB/HomeWork_10/QuotationsHub/author_quote/__pycache__
PYTHON_WEB/HomeWork_11/fastapi_hw
PYTHON_WEB/HomeWork_11/application_fastapi/__pycache__
PYTHON_WEB/HomeWork_11/app/__pycache__
PYTHON_WEB/HomeWork_11/__pycache__
PYTHON_WEB/HomeWork_11/app/routers/__pycache__
PYTHON_WEB/HomeWork_12/__pycache__
PYTHON_WEB/HomeWork_12/app/__pycache__
PYTHON_WEB/HomeWork_12/app/routers/__pycache__
PYTHON_WEB/HomeWork_12/fastapi_hw
PYTHON_WEB/HomeWork_13/fastapi_13_hw
PYTHON_WEB/HomeWork_13/app/.env
PYTHON_WEB/HomeWork_13/__pycache__
PYTHON_WEB/HomeWork_13/app/__pycache__
PYTHON_WEB/HomeWork_13/app/routers/__pycache__
PYTHON_WEB/HomeWork_14/fastapi_14_hw
PYTHON_WEB/HomeWork_14/app/__pycache__
PYTHON_WEB/HomeWork_14/app/routers/__pycache__




