PYTHON_WEB/HomeWork_10/django_hw/
PYTHON_WEB/HomeWork_10/QuotationsHub/author_quote/__pycache__
PYTHON_WEB/HomeWork_11/fastapi_hw
PYTHON_WEB/HomeWork_11/application_fastapi/__pycache__
PYTHON_WEB/HomeWork_11/app/__pycache__
PYTHON_WEB/HomeWork_11/__pycache__
PYTHON_WEB/HomeWork_11/app/routers/__pycache__